.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copy {
  white-space: nowrap;
}

.languageAndIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.selectWrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.languageText {
  font-size: 1.4rem;
  font-weight: 400;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.icons svg {
  fill: var(--color-text);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
  }
  .languageAndIcons {
    justify-content: flex-start;
  }
}
